<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: Avenir;
}

body {
	font-size: 16px;
	padding: 16px;
	margin: 0;
}

.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 160px 160px 160px 160px;
  	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header 		header 	header 	header"
		"sidebar 	sidebar 		main 		main"
		"footer 		footer 	footer	footer";
	max-width: 640px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
}

.header {
	grid-area: header;
	padding: 16px;
	border-bottom: 1px solid #ccc;
}

.main {
	grid-area: main;
	padding: 16px;
}

.aside {
	grid-area: sidebar;
	padding: 16px;
	background-color: #eee;
	border-right: 1px solid #ccc;
}

.footer {
	grid-area: footer;
	padding: 16px;
	border-top: 1px solid #ccc;
}

@media (max-width: 575px) {
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.header {
		order: 1;
	}
	.main {
		order: 2;
	}
	.aside {
		order: 3;
		border-right: 0;
		border-top: 1px solid #ccc;
	}
	.footer {
		order: 4;
	}
}
